@sb:registry=https://quantuminventions.jfrog.io/quantuminventions/api/npm/npm/
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:_password=QUtDcDhrN3VXRjFVNWdvS1VEU1B2UE1CdGlvWUhyWVl1Mml1QXlFVlFOb29BN0diUE10UkdSNHNvUHhBU3BUWmRQeUN2OFZEaw==
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:username=hrisikesh-singha.chowdhury@quantuminventions.com
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:email=hrisikesh-singha.chowdhury@quantuminventions.com
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:always-auth=true
@qi:registry=https://quantuminventions.jfrog.io/quantuminventions/api/npm/npm/
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:_password=QUtDcDhrN3VXRjFVNWdvS1VEU1B2UE1CdGlvWUhyWVl1Mml1QXlFVlFOb29BN0diUE10UkdSNHNvUHhBU3BUWmRQeUN2OFZEaw==
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:username=hrisikesh-singha.chowdhury@quantuminventions.com
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:email=hrisikesh-singha.chowdhury@quantuminventions.com
//quantuminventions.jfrog.io/quantuminventions/api/npm/npm/:always-auth=true
